<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>isotimiaservlet</servlet-name>
        <servlet-class>isotimiaservlet</servlet-class>
        <init-param>
            <param-name>param</param-name>
            <param-value>http://www.ecb.int/stats/eurofxref/eurofxref-daily.xml</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>report</servlet-name>
        <servlet-class>report</servlet-class>
        <init-param>
            <param-name>param2</param-name>
            <param-value>report.html</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Source</servlet-name>
        <servlet-class>Source</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>isotimiaservlet</servlet-name>
        <url-pattern>/isotimiaservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>report</servlet-name>
        <url-pattern>/report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Source</servlet-name>
        <url-pattern>/Source</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>link</param-name>
        <param-value>report.html</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>report.html</param-value>
    </context-param>
    <listener>
        <listener-class>Listenerreport</listener-class>
    </listener>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
